<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" packages="com.tmobile.cso.pacman.inventory.log">
    <Properties>
        <Property name="PD_LOG-PATH">/home/ec2-user/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                   [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
           
        </Console>
      
     </Appenders>
    <Loggers>

        <Root>
            <AppenderRef ref="Console-Appender" />
        </Root>
    </Loggers>
</Configuration>