<div class='traction-respone-wrapper'>
  <div [ngClass]="{'success': response.type==='success', 'error': response.type==='error'}" class="generic-msg">
    <div class="title">{{response.title}}</div>
    <div class='details'>{{response.message}}</div>
    <div class='description'>{{response.description}}</div>
  </div>
  <div>
    <app-button (click)="takeAction('continue', $event)">CONTINUE</app-button>
  </div>
  <div>
      <app-button (click)="takeAction('back', $event)" *ngIf="response.type==='error'" [type]="'secondary'">CANCEL</app-button>
    </div>
</div>