.form-container {
    display: flex;
    margin-top: 30px;
    flex-direction: column;

}
.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333333;
    word-break: break-word;
}

.input-box{
    width: 100%;
    height: 32px;
    padding-left: 6px;
    border: 1px solid #CCCCCC;
    color: #000;
}
.text-area{
    width: 100%;
    resize: none;
    min-width : 20em;
    max-height: 60px;
    min-height: 60px;
    padding-left: 6px;
    padding-top: 7px;
    border: 1px solid #CCCCCC;
    color: #000;
}

::placeholder {
    font-weight: 500;
    color: #666;
}
.error {
    margin-top: 5px;
    margin-left: 5px;
    color: #e20074;
    font-size: 80%;
}

 .input-box-group {
     /*height:74px;*/
     /* Commening the height. Give margin in the parent */
 }
 
 .validate {
     position: absolute;
     width: 2px;
     height: 100%;  
     top: 0;
     bottom: 2px;
 }
 .valid {
     background: green;
     height: 98%;  
 }
 .invalid {
     background: red;
 }

 .metadata {
    margin-top: 0.1em;
    padding-left: 0.3em;
  }

  .metadata img {
    width: 1em;
    height: 1em;
  }

  .display-flex {
      display: flex;
  }