.data-table-paginator-wrap {
    background-color: #fff;
    width: 100%;
    height: 4.66em;
    border-top: solid 1.5px #efefef;
    box-shadow: 0px -1.5px 6px -3px rgba(0, 0, 0, 0.16);
    position: relative;
    flex-shrink: 0;
}
.sub-head {
 min-height: 3em;
 line-height: 1.5;
 vertical-align: middle;
 border-radius: 3px;
}
.paginator-txt {
    letter-spacing: 0.2px;
    color: #555555;
    margin: 0 1.5em;
    min-width: 10em;
    text-align: right;
}
.fade {
    opacity: 0.3;
}

.paginator-arrow img {
  height: 1em;
}
.paginator-arrow img :hover {
    transform: scale(1.2);
}
.paginator-arrow {
    margin: 0 1.5em;
    cursor: pointer;
}
.paginator-arrow.rotate180 {
    transform: translateY(-1px) rotate(180deg);
} 