.delete-icon {
    height: 2em;
    width: 2em;
    transition: 0.4s ease;
    cursor: pointer;
    right: 1em;
    top: 1em;
}

.delete-icon:hover {
    transform: rotate(-90deg);
}

.confirmation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 45vw;
    height: fit-content;
    padding: 3em;
    max-width: 50em;
    background: #fff;
    z-index: 30;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
    margin: auto;
}

.conf-text {
    font-size: 1.2em;
    padding: 1em 0;
    text-align: center;
    line-height: 1.5;
}

.bold {
    font-family: ex2-bold;
}

.conf-text.bold {
    font-size: 1.3em;
}

.app-button {
    padding: 0.66em 0;
}

.buttons-wrap {
    padding-top: 1.5em;
    align-items: center;
}