.policy-knowledgebase-wrapper {
    height: 100%;
    justify-content: flex-start;
    padding-bottom: 2px;
}

.each-tile {
    padding: 2vh 1.66em 2vh 2em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 #d9dbe2;
    height: 100%;
    border-bottom: 5px solid #ed027400;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    user-select: none;
}

.each-tile:hover {
    transform: translateY(-2px);
}

.each-tile.active {
    border-bottom: 5px solid #ed0274;
}

.tile-wrap { 
    width: 25%;
    padding: 2px 1em 2em;
    min-width: 15em;
    flex-grow: 1;
    max-width: 27em;
}

.each-tile:hover .tile-number {
    color: #ed0274;
}

.tile-number {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 3px;
    text-decoration: underline;
}

.tile-txt {
    font-family: ex2-light;
    line-height: 1.2;
    opacity: 0.8;
}

.tile-img {
    width: 2em;
    margin-left: 2em;
    height: 2em;
    object-fit: contain;
    object-position: right;
}

.tile-parent {
    padding: 0 1em;
    flex-shrink: 0;
    flex-flow: wrap;
    align-items: stretch;
    position: relative;
    min-height: 9em;
}

.tile-hover {
    border-radius: 3px;
    background-color: #000000;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    top: 0;
    left: 0;
    border-radius: 5px;
    right: 0;
    color: #fff;
    bottom: -5px;
}

.each-tile:hover .tile-hover {
    opacity: 0.6;
    pointer-events: auto;
}

.data-table-container {
    padding: 0 2em 2em;
    min-height: 18em;
}

.cloud-notifications-wrap {
    overflow: auto;
}

.error-message {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 2em));
    font-family: ex2-light;
    opacity: 0.8;
}

.loader-summary {
    transform: translateY(calc(-1em - 300%));
}

.toggle-parent {
    width: 2.6em;
    height: 1em;
    background: #d0d0d0;
    margin-right: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #c1c1c1;
    cursor: pointer;
}

.toggle-slider {
    height: 1.4em;
    width: 1.4em;
    background: #ed0274;
    top: 50%;
    transition: 0.3s ease;
    transform: translateY(-50%);
    border: 5px solid #ed0274;
    border-radius: 0.8em;
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.1);
    left: -3px;
}

.toggle-slider.right {
    left: calc(1.1em + 3px);
}

.each-tab {
    color: #777;
    padding: 2px 2px 4px;
    margin-right: 0.5em;
    cursor: pointer;
    transition: 0.4s ease;
    user-select: none;
}

.each-tab.active {
    color: #ed0274;
}

.toggle-wrap {
    padding: 0 2em 1em;
}

.help-icon {
    padding-bottom: 2px;
    transition: 0.3s ease;
}

.help-icon:hover {
    transform: scale(1.2);
}

.breadcrumb-top {
    padding-top: 0.5em;
}