<div
	class="_rp_55 ms-font-weight-regular ms-font-color-neutralDark rpHighlightAllClass rpHighlightBodyClass"
	id="Item.MessageUniqueBody"
	style="font-family: wf_segoe-ui_normal,&amp; quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif, serif, EmojiFont;">
	<div class="rps_50b9">
		<div>
			<div>
				<div class="x_3DWordSection1">
					<table width="3D624" style="">
						<tbody>
							<tr style="">
								<td width="3D624" valign="3Dtop" style=""><img
									data-imagetype="External"
									src="${EMAIL_BANNER}"
									alt="T-Mobile Cloud Security Operations"
									title="T-Mobile Cloud Security Operations"></td>
							</tr>
							<tr style="">
								<td width="3D624" valign="3Dtop" style="">
									<p class="x_MsoNormal" align="center"
										style="margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal">
										<i style=""><span style="font-size: 9.0pt">You are receiving this email because one of your AWS resource were found vulnerable under T-Mobile policy.
										</span></i>
									</p>
									<p class="x_MsoNormal"
										style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal">
										<span style="font-size: 12.0pt">Hello ${NAME},</span>
									</p>
									<p class="x_MsoNormal"
										style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal">
										<span style="font-size: 12.0pt">
										PacMan detected  ${RULE_VIOLATION_MESSAGE}. It is a violation of 
										<a href="${POLICY_URL}">T-Mobile Cloud Security Policy</a> 
										please fix this immediately. If there is a valid reason for this please request an exception from the Cloud Security Operations team (Cloudsecops@t-mobile.com)
										with a valid business justification
										</span>
									</p>
									<p class="x_MsoNormal"
										style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal">
										<div style="font-size: 12.0pt">
											${AUTOFIX_WARNING_MESSAGE}
										</div>
										<div style="padding-top: 10px;">
											<img src="http://10.65.228.4:90/countdown-clock/gif.php?time=${TIME}">
										</div>
									</p>
									<p class="x_MsoNormal"
										style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal">
										<span style="font-size: 12.0pt">For questions,
											comments, or concerns, please contact <a
											href="mailto:CloudSecOps@T-Mobile.com" target="_blank"
											rel="noopener noreferrer"><span style="color: #E20074">CloudSecOps@T-Mobile.com</span></a>.
										</span>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>