
.widget {
    display: flex;
    position: relative;
    height: calc(100vh - 19em);
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 7px -1px #0000001e, 0 2px 4px 0 #00000023;
}
.form-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;

}
.form-class {
    max-height: 100%;
    width: 50%;
}
.form-group {
    flex-direction: column;
}
.success{
    position: absolute;
    display: flex;
    bottom: 9px;
    text-align: center;
    background: white;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 1px 7px -1px #0000001e, 0 2px 4px 0 #00000023;
    height: calc(100vh - 16em);
    z-index: 10;
    width: 98%;
    
}
.sub-heading {
    padding: 0.6em 0.8em;
    background-color: #ffffff;
    border-bottom: solid 1px #d6e2f1;
    color: #555;
    width: 100%;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.1 px;
}

.create-cancel {
    display: flex;
    flex-direction: row;   
}