<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <style>
        /* Styles */

        @media only screen and (max-width: 500px) {
            body {
                background-color: lightblue;
            }
        }

    </style>


</head>
<body>
<table width="100%" style="background-color: #ffffff" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr style="line-height: 3;">
           Hi
        </tr>
        <tr style="line-height: 3;">
            Please access all the details of resourceId ${resourceId} under target type ${targetType} at the below mentioned link:
        </tr>
        <tr style="line-height: 3;">
            <a href=${link}>${link}</a> 
        </tr>
    </tbody>
</table>
</body>
</html>